{% extends "myapp/index.html" %}

{% block title %}Emprestimo{% endblock title %}

{% block content %}
    <div class="container justify-content-center mt-4">
        <div class="card my_class" style="max-width: 500px; margin: auto;">
            <div class="card-header text-center">
                <h1>Fazer emprestimo</h1>
            </div>
           
            <div class="card-body">
                {% if messages %}
                    <div class="mb-3">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <form action="/emprestimo/" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="data_emprestimo">Data emprestimo</label>
                        <input class="form-control mb-2" type="date" name="data_emprestimo" required>
                        <label for="data_devolucao">Data devolução</label>
                        <input class="form-control mb-2" type="date" name="data_devolucao" required>
                        <label for="colaborador">Colaborador</label>
                        <select class="form-control mb-2" name="colaborador" required>
                            <option value="" disabled selected>Selecione um Colaborador</option>
                            {% for colaborador in colaboradores %}
                                <option value="{{ colaborador.id }}">{{ colaborador.nome }}</option>
                            {% endfor %}
                        </select>
                        <label for="equipamento">Equipamento</label>
                        <select class="form-control mb-2" name="equipamento" required>
                            <option value="" disabled selected>Selecione um Equipamento</option>
                            {% for equipamento in equipamentos %}  
                                <option value="{{ equipamento.id }}">{{ equipamento.nome }}</option>
                            {% endfor %}
                        </select>
                        <label for="quantidade">Quantidade</label>
                        <input class="form-control mb-2" type="number" name="quantidade_equipamento" required>
                        <label for="status">Status</label>
                        <select class="form-control mb-2" name="status" required>
                            <option value="Emprestado">Emprestado</option>
                            <option value="Devolvido">Devolvido</option>
                        </select>
                    </div>
                    <input class="btn btn-success" type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
