{% extends "globals/index.html" %} 
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<header>
    <h1>ProtecLend</h1>
    <p>Empréstimo de Materiais de Proteção Individual</p>
</header>

<div class="content">
    <h2>Proteja-se com qualidade e confiança</h2>
    <p>Oferecemos os melhores equipamentos de proteção para sua segurança e bem-estar.</p>
</div>

<div class="container mt-3">
    <h1 class="text-center">Lista de Equipamentos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista_equipamentos %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.tipo }}</td>
                <td>{{ item.quantidade }}</td>
                <td>
                    <a href="/atualizar_equipamento/{{ item.id }}" class="btn btn-primary">Editar</a>
                    <a href="/deletar_equipamento/{{ item.id }}" class="btn btn-danger">Deletar</a>
                 
                </td>
            </tr>
            {% empty %}
            <tr>
            <td colspan="4">
            Nenhum equipamento cadastrado!
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<footer class="bg-light text-right py-3">
    <div class="container">
        <a href="/" class="nav-link">Topo da página</a>
    </div>
</footer>

{% endblock content %}