{% extends "globals/index.html" %}

{% block title %}Cadastro Equipamento{% endblock title %}

{% block content %}
<div class="container justify-content-center mt-4">
        <div class="card-body">
            <h1 class="text-center">Lista de Equipamentos</h1>
            <form action="{% url 'listar_equipamento' %}" method="get" class="mt-3">
                <div class="form-group">
                    <input type="text" name="nome" class="form-control" placeholder="Pesquisar equipamento..." value="{{ request.GET.nome }}">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Pesquisar</button>
            </form>
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista_equipamentos %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.tipo }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>
                            <a href="/atualizar_equipamento/{{ item.id }}" class="btn btn-primary">Editar</a>
                            <a href="/deletar_equipamento/{{ item.id }}" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum equipamento encontrado!</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
