{% extends "globals/index.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<form action="{% url 'listar_emprestimo' %}" method="get">
    <div class="form-group">
        {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
               {{ message.message }}
            {% endfor %}
        </div>
        {% endif %}
    
        <label class="form-label" for="nome">Pesquisa:</label>
        <input class="form-control" type="text" name="nome" id="nome">
    </div>
    <input class="btn btn-success mt-1" type="submit" value="Pesquisar">
</form>


<div class="container mt-3">
    <h1 class="text-center">Lista de Emprestimos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data emprestimo</th>
                <th>Data de devolução</th>
                <th>Equipamento</th>
                <th>Colaborador</th>
                <th>Quantidade</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
           {% for item in lista_emprestimo %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.data_emprestimo }}</td>
                <td>{{ item.data_devolucao }}</td>
                <td>{{ item.equipamento }}</td>
                <td>{{ item.colaborador }}</td>
                <td>{{ item.quantidade_equipamento }}</td>
                <td>{{ item.status }}</td>
                <td>
                    <a href="/atualizar/{{ item.id }}" class="btn btn-primary">Editar</a>
                
                </td>
            </tr>
           
            {% empty %}
            <tr>
            <td colspan="4">
            Nenhum empréstimo realizado!
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container mt-3">
    <h1 class="text-center">Lista de Colaboradores</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista_colaboradores %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>
                <td>
                    <a href="/atualizar_colaborador/{{ item.id }}" class="btn btn-primary">Editar</a>
                    <a href="/deletar_colaborador/{{ item.id }}" class="btn btn-danger">Deletar</a>
                 
                </td>
            </tr>
            {% empty %}
            <tr>
            <td colspan="4">
            Nenhum equipamento cadastrado!
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<footer class="bg-light text-right py-3">
    <div class="container">
        <a href="/" class="nav-link">Topo da página</a>
    </div>
</footer>

{% endblock content %}