{% extends "globals/index.html" %}

{% block title %}Cadastrar Usuários{% endblock title %}

{% block content %}
<div class="container justify-content-center mt-4">
    <div class="card my_class" style="max-width: 500px; margin: auto;">
        <div class="card-header text-center">
            <h1>Cadastrar Usuários</h1>
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'criar_usuario' %}" method="post">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="nome" required>
                </div>
                <div class="form-group mb-2">
                    <label for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" name="sobrenome" id="sobrenome" required>
                </div>
                <div class="form-group mb-2">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <div class="form-group mb-2">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                </div>
                <div class="form-group mb-2">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>
                <div class="form-group mb-2">
                    <label for="foto_url">URL da Foto</label>
                    <input type="url" class="form-control" name="foto_url" id="foto_url" placeholder="https://exemplo.com/sua_foto.jpg" required>
                </div>
                <div class="form-group mb-2 text-center">
                    <input class="btn btn-success" type="submit" value="Cadastrar">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
