{% extends "globals/index.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'globals/css/seu_arquivo.css' %}">

{% block title %}Login - ProtecLend{% endblock title %}

{% block content %}
<div class="login-page">
    <div class="container">
        <!-- Lado esquerdo com os elementos estáticos de materiais -->
        <div class="left-section">
            <div class="logo-section">
                <h2>ProtecLend</h2>
            </div>
            <div class="materials-static">
                <div class="hammer">
                    <div class="hammer-head"></div>
                    <div class="hammer-handle"></div>
                </div>
                <div class="helmet"></div>
            </div>
        </div>
        <!-- Caixa de login no lado direito -->
        <div class="right-section">
            <div class="card my_class">
                <div class="card-header text-center">
                    <h1>Login</h1>
                </div>
                <div class="card-body">
                    <form action="{% url 'login_usuario' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-2">
                            <label for="username">Username</label>
                            <input class="form-control" type="text" name="username" placeholder="Nome">
                        </div>
                        <div class="form-group mb-2">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" name="password" placeholder="Senha">
                        </div>
                        <div class="form-group mb-2 d-flex">
                            <input class="btn btn-success me-2" type="submit" value="Login">
                            <a class="btn btn-primary" href="{% url 'criar_usuario' %}">Cadastrar</a>
                        </div>
                    </form>
                    {% if erro %}
                    <div class="alert alert-warning" style="animation: fadeOut 5s forwards;">
                        <strong>Erro</strong> {{ erro }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
